@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    
    margin:0;
    padding:0;
}

.div_carta {
    width: 300px;
    height:500px;
    /* background-image: url('fondo4.jpg'); */
    margin: 10px;
    border: 5px solid #101010;
    background-color: rgb(14, 190, 67);
    border-radius: 25px;
}

.titulo_producto {
    margin: 1vh 2vw;
    display:flexbox;
    text-align: center;
}



.div_imagen_Producto {
    /* margin: 0 14px; */
    text-align: center;
    margin: 1vh 2vw;
}

.imagen_Producto {
    border-radius: 10px;
    width: 50%;
    height: 80%;
    border: 3px solid #bcc6ccd1;
    box-shadow: 5px 5px 5px; 
    margin-bottom: 5px;
   
}



.div_caracteristica {
    /* margin: 18px 22px; */
    margin: 1vh 2vw
}

.titulo_caract {
    font-weight: 700;
    font-size: 1em;
    display: inline-block;

}

.desc_caracteristica{

}
.div_precio{
    margin: 1vh 2vw
}

.div_boton{
    text-align: center;
    margin: 1vh 2vw;
}
.boton_Cartas{
    background-color: blue;
    color:aliceblue;
    display :inline-block;
    font-weight: 600;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}
/* 
hr {
    width: 2vh 2vw;
    height: 3px;
    background-color: black;
    border-style: none;
    margin-top: 25px;
    margin-bottom: 15px;
} */

